{% extends 'totalemail/base.html' %}

{% block title %}About TotalEmail{% endblock %}

{% block content %}

<style>
    .footer {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 2em;
      width: 100%;
      padding-top: 0.35em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      background-color: #2d2d2d;
      color: #f8f8f7;
    }

    .footer a {
        color: #66aacc;
        text-decoration: underline;
    }
</style>

<br>

<div class="float-center text-center large-6">
    <h1>About TotalEmail</h1>

    <br>

    TotalEmail exists to help you determine whether or not an email is malicious. You can read more about why TotalEmail exists, what we will accomplish, and how we will accomplish it <a href="https://blog.totalemail.io/what-hath-god-wrought/">at our blog</a>.

    <br><br><hr><br>

    <h2>TotalEmail Version {{ te_version_number }} Details</h2>

    <br>

    TotalEmail is on version {{ te_version_number }}, known as <a href="{{ te_version_link }}">{{ te_version_name }}</a> (versions are named after <a href="https://es.wikipedia.org/wiki/Anexo:Constelaciones">constellations</a>). You can find release notes for some of the significant features in this version <a href="{{ te_version_link }}">here</a>.

    <br><br><hr><br>

    Check out our <a href="https://blog.totalemail.io">blog</a> &nbsp;•&nbsp; Start <a href="{% url 'search:index' %}">searching the emails</a> &nbsp;•&nbsp; View the <a href="https://docs.totalemail.io/">API/SDK Documentation</a> &nbsp;•&nbsp; <a href="mailto:info@totalemail.io" target="_top">Email us</a>

    <!-- <div class="footer">
        Check out our <a href="https://blog.totalemail.io">blog</a> &nbsp;•&nbsp; Start <a href="{% url 'search:index' %}">searching the emails</a>
    </div> -->
</div>

{% endblock %}