{% extends 'totalemail/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

<style>
    .footer {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 2em;
      width: 100%;
      padding-top: 0.35em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      background-color: #2d2d2d;
      color: #f8f8f7;
    }

    .footer a {
        color: #66aacc;
        text-decoration: underline;
    }
</style>

<br>

<div class="float-center text-center large-6">
    <h1>About TotalEmail</h1>

    <br>

    TotalEmail exists to help you determine whether or not an email is malicious. You can read more about why TotalEmail exists, what we will accomplish, and how we will accomplish it <a href="https://blog.totalemail.io/what-hath-god-wrought/">at our blog</a>.

    <br><br><hr><br>

    <h2>TotalEmail Version {{ te_version_number }} Details</h2>

    <br>

    <p>TotalEmail is on <b>version {{ te_version_number }}</b>, known as <a href="{{ te_version_link }}"><b>{{ te_version_name }}</b></a>.<br>(named after the <a href="https://en.wikipedia.org/wiki/IAU_designated_constellations">constellation</a>)</p>

    <p>You can find <b>release notes</b> for some of the significant features in this version <a href="{{ te_version_link }}"><b>here</b></a>.</p>

    <p>You can see a <b>history</b> (a.k.a. change log) of TotalEmail <a href="https://blog.totalemail.io/change-log/"><b>here</b></a>.</p>

    <p>You can read about our <b>future plans</b> (a.k.a. road map) <a href="https://blog.totalemail.io/road-map/"><b>here</b></a>.</p>

    <br><br><hr><br>

    <h2>Credits and Helpful Resources</h2>

    <br>

    <p>In the creation of TotalEmail, we have found the following tools helpful:</p>

    <p><a href="https://github.com/fhightower/ioc-finder">ioc-finder</a> - A tool to find network data in text</p>

    <br><br><hr><br>

    Check out our <a href="https://blog.totalemail.io">blog</a> &nbsp;•&nbsp; Start <a href="{% url 'search:index' %}">searching the emails</a> &nbsp;•&nbsp; View the <a href="https://docs.totalemail.io/">API/SDK Documentation</a> &nbsp;•&nbsp; <a href="mailto:info@totalemail.io" target="_top">Email us</a>

    <!-- <div class="footer">
        Check out our <a href="https://blog.totalemail.io">blog</a> &nbsp;•&nbsp; Start <a href="{% url 'search:index' %}">searching the emails</a>
    </div> -->
</div>

{% endblock %}