{% if network_data.bodies.hosts %}
    <h5>Domain names ({{ network_data.bodies.hosts|length }}):</h5>
    <ul>
        {% for host, links in network_data.bodies.hosts.items %}
            <li>
              <b>{{ host }}</b>
              <ul>
                {% for link in links %}
                  {% if link.text == '' %}
                    <li><a href="{{ link.link }}">view more...</a></li>
                  {% elif link.text == 'view more (this is a generic domain and no overlaps will be shown)...' %}
                    <li><a href="{{ link.link }}">{{ link.text }}</a></li>
                  {% else %}
                    <li>This domain was also in the email: <a href="{{ link.link }}">{{ link.text|truncatechars:42 }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
        {% endfor %}
    </ul>
    <br>
{% endif %}

{% if network_data.bodies.ip_addresses %}
    <h5>IP addresses ({{ network_data.bodies.ip_addresses|length }}):</h5>
    <ul>
        {% for address, links in network_data.bodies.ip_addresses.items %}
            <li>
              <b>{{ address }}</b>
              <ul>
                {% for link in links %}
                  {% if link.text == '' %}
                    <li><a href="{{ link.link }}">view more...</a></li>
                  {% else %}
                    <li>This IP address was also in the email: <a href="{{ link.link }}">{{ link.text|truncatechars:42 }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
        {% endfor %}
    </ul>
    <br>
{% endif %}

{% if network_data.bodies.email_addresses %}
    <h5>Email addresses ({{ network_data.bodies.email_addresses|length }}):</h5>
    <ul>
        {% for address, links in network_data.bodies.email_addresses.items %}
            <li>
              <b>{{ address }}</b>
              <ul>
                {% for link in links %}
                  {% if link.text == '' %}
                    <li><a href="{{ link.link }}">view more...</a></li>
                  {% else %}
                    <li>This email address was also in the email: <a href="{{ link.link }}">{{ link.text|truncatechars:42 }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
        {% endfor %}
    </ul>
    <br>
{% endif %}

{% if network_data.bodies.urls %}
    <h5>URLs ({{ network_data.bodies.urls|length }}):</h5>
    <ul>
        {% for url, links in network_data.bodies.urls.items %}
            <li>
              <b>{{ url }}</b>
              <ul>
                {% for link in links %}
                  {% if link.text == '' %}
                    <li><a href="{{ link.link }}">view more...</a></li>
                  {% else %}
                  <li>This URL was also in the email: <a href="{{ link.link }}">{{ link.text|truncatechars:42 }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
        {% endfor %}
    </ul>
    <br>
{% endif %}
