{% extends 'totalemail/base.html' %}

{% block title %}Search: {{ q|truncatechars:42 }}{% endblock %}

{% block content %}

<!-- TODO: make the space from the top dynamic based on the size of the screen... also do this on the importer-index and other importer page. -->
<br>

<div class="text-center row">
    <h1>Search the Emails</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            {% autoescape off %}
                <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                <br>
            {% endautoescape %}
        {% endfor %}
        <br>
    {% endif %}

    <form action="{% url 'search:index' %}" method="get">
        <input id="searchBox" type="text" placeholder="Search for something here..." name="q" value="{{ q }}">
        <p><i>Searching {{ total_email_count }} email{{ total_email_count|pluralize }}</i></p>
        <p>
            <input class="hollow medium button success" type="submit" value="Search">
            {% if q != None %}
                <a class="hollow medium button secondary" href="{% url 'search:index' %}">Clear</a>
            {% endif %}
        </p>
        <p>
            {% if q == None %}
                Not sure what to search for? <a href="{% url 'search:index' %}?q=subject">View recent emails</a>.
            {% endif %}
        </p>
    </form>

    <br>

    <div class="large-6 medium-9 small-12 float-center">
        {% if results %}
            {% if total_result_count > max_results %}
                <!-- TODO: Add a tooltip to this message explaining why we are limiting the results -->
                Showing {{ results|length }} of {{ total_result_count }} emails matching "<i>{{ q }}</i>":
            {% else %}
                Found {{ results|length }} email{{ results|length|pluralize }} matching "<i>{{ q }}</i>":
            {% endif %}
            <br><br>
            <ul style="list-style: none;">
            {% for email in results %}
                <li style="margin-bottom: -1em;" class="text-left" title="Email score: {{ email.score }}">
                    {% if email.score > 0.666 %}
                        <span style="color: #E64A48; font-size: 2em; vertical-align: middle;">•</span>
                    {% elif email.score < 0.334 %}
                        <span style="color: #6FEF87; font-size: 2em; vertical-align: middle;">•</span>
                    {% else %}
                        <span style="color: #F1D86C; font-size: 2em; vertical-align: middle;">•</span>
                    {% endif %}
                    <a href="{% url 'details:details' email.email.id %}" target="_blank">{{ email.email.header.subject }}</a> (<i>{{ email.search_query }}</i>)
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {% if q != None %}
                No results found for "<i>{{ q }}</i>". <a href="{% url 'search:index' %}?q=subject">View recent emails</a>.
            {% endif %}
            <br>
        {% endif %}
    </div>

    <br><hr><br>

    <div class="large-8 medium-9 float-center">
        <h4>Search Functions</h4>
        <p>Every search can be wrapped in one of the functions below to specify where you would like to find a specific query:</p>

        <ul style="list-style: none;">
            <li>
                <b>sub</b>({subject}) - Search for emails with the given subject - examples: <a href="{% url 'search:index' %}?q=sub(spam)">sub(spam)</a>, <a href="{% url 'search:index' %}?q=sub(talk to)">sub(talk to)</a>
            </li>
            <li>
                <b>to</b>({recipient address/name}) - Search for emails with the given recipient address - <a href="{% url 'search:index' %}?q=to(redacted)">to(redacted)</a>
            </li>
            <li>
                <b>from</b>({sending address/name}) - Search for emails with the given sending address - <a href="{% url 'search:index' %}?q=from(tulip.ocn.ne.jp)">from(tulip.ocn.ne.jp)</a>, <a href="{% url 'search:index' %}?q=from(Fedex.shipping@ikexpress.com)">from(Fedex.shipping@ikexpress.com)</a>, <a href="{% url 'search:index' %}?q=from(Thank You)">from(Thank You)</a>
            </li>
            <li>
                <b>bod</b>({text}) - Search for emails with the given text in the body - <a href="{% url 'search:index' %}?q=bod(money)">bod(money)</a>, <a href="{% url 'search:index' %}?q=bod(good day)">bod(good day)</a>
            </li>
            <li>
                <b>dom</b>({domain name}) - Search for emails with the given domain name - <a href="{% url 'search:index' %}?q=dom(tulip.ocn.ne.jp)">dom(tulip.ocn.ne.jp)</a>
            </li>
            <li>
                <b>domh</b>({domain name}) - Search for emails with the given domain name in the header - <a href="{% url 'search:index' %}?q=domh(tulip.ocn.ne.jp)">domh(tulip.ocn.ne.jp)</a>
            </li>
            <li>
                <b>domb</b>({domain name}) - Search for emails with the given domain name in a body - <a href="{% url 'search:index' %}?q=domb(bit.ly)">domb(bit.ly)</a>
            </li>
        </ul>
    </div>
</div>

<script>
    window.onload = function() {
        $(document).foundation();

        window.setTimeout(function() {
            $('#searchBox').select();
        }, 100);

        // $('#searchBox').on({
        //     keyup: function(event) {
        //         var currentSearchValue = $('#searchBox').val();
        //         if (event.key === '(' && currentSearchValue.indexOf('(') === currentSearchValue.length - 1) {
        //             $('#searchBox').val(currentSearchValue + ')');
        //         }
        //     }
        // });
    }
</script>

{% endblock %}
