{% extends 'totalemail/base.html' %}

{% block title %}{{ email.header.subject }}{% endblock %}

{% block content %}
  <style>
    .emailDetailsList {
      list-style-type: none;
    }

    .emailDetailsItem {
      margin: 1.5em;
    }

    .topOfPageLink {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 2em;
      padding-top: 0.35em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  </style>

  <br>
  {% if email.pk %}
    <div class="row">
      <h2>{{ email.header.subject|truncatechars:42 }}</h2>

      <div class="row">
          {% if messages %}
              {% for message in messages %}
                  {% autoescape off %}
                      <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                  {% endautoescape %}
              {% endfor %}
          {% endif %}
          <br><br>
      </div>

      <div class="large-9 medium-9 float-left">
        <ul class="emailDetailsList">
          <li class="emailDetailsItem">
            <div class="fast" id="emailDetails" data-animate="fade-in fade-out">
              {% include "details/details_view/email-details.html" %}
            </div>
          </li>
          <hr>
          {% if email.header|slugify != '' %}
            <li class="emailDetailsItem">
              <div class="fast" id="emailHeader" data-animate="fade-in fade-out">
                {% include "details/details_view/email-header.html" %}
              </div>
            </li>
            <hr>
          {% endif %}
          {% if email.bodies.all %}
            <li class="emailDetailsItem">
              <div class="fast" id="emailBody" data-animate="fade-in fade-out">
                {% include "details/details_view/email-body.html" %}
              </div>
            </li>
          {% endif %}
          {% if email.attachments.all %}
            <hr>
            <li class="emailDetailsItem">
              {% include "details/details_view/email-attachments.html" %}
            </li>
          {% endif %}
          {% if email.analysis_set.all or email.header.subject_not_suspicious_votes or email.header.subject_suspicious_votes %}
            <hr>
            <li class="emailDetailsItem">
              <div class="fast" data-animate="fade-in fade-out">
                {% include "details/details_view/analysis-details.html" %}
              </div>
            </li>
          {% endif %}
          {% if network_data_count != 0 %}
            <hr>
            <li class="emailDetailsItem">
              <div class="fast" id="emailNetworkData" data-animate="fade-in fade-out">
                {% include "details/details_view/network-data-base.html" %}
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="columns large-3 medium-3" data-sticky-container>
      <!-- This may not work in firefox due to: https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Scroll-linked_effects -->
      <div class="sticky" data-sticky data-top-anchor="emailDetails:top" data-check-every="0">
          {% include "details/details_view/email-summary-card.html" %}
        </div>
      </div>
    </div>

    <br><br>

    <a class="topOfPageLink" id="topOfPageLink" href="#top">Top ^</a>
  {% else %}
      <p>No email with this id</p>
  {% endif %}

    <!-- If the email is new, show a pop-up letting the user know to refresh the page to view the external analyses. -->
    {% if new %}
        <script>
            window.setTimeout(function() {
                $.jGrowl('This email has likely been analyzed by email analysis engines. Refresh the page to view the results.', {group: 'success-growl', life: 7500});
            }, 20000);
        </script>
    {% endif %}

    <script>
      window.setTimeout(function() {
          $(document).foundation();
      }, 350);
    </script>
{% endblock %}
