{% extends 'totalemail/base.html' %}

{% block title %}Redaction Request for: "{{ email.header.subject }}"{% endblock %}

{% block content %}
  <style>
    .emailDetailsList {
      list-style-type: none;
    }

    .emailDetailsItem {
      margin: 1.5em;
    }

    .topOfPageLink {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 2em;
      padding-top: 0.35em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  </style>

  <br>
  <div class="row">
    <h2>Redaction Request for: "{{ email.header.subject|truncatechars:42 }}"</h2>

    <div class="row">
        {% if messages %}
            {% for message in messages %}
                {% autoescape off %}
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                {% endautoescape %}
            {% endfor %}
        {% endif %}
        <br><br>
    </div>

    <div class="large-9 medium-9 float-left">
      <p>Is there something in this email that should be removed (e.g. <a href="https://en.wikipedia.org/wiki/Personal_data">PII</a> or trade secrets)? Please let us know <i>what</i> you would like redacted from this email and <i>why</i> and we'll make it happen. Thanks!</p>

      <form action="{% url 'details:redaction' email.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="redactionRequest" placeholder="Provide details about what you would like redacted and why you would like it to be redacted here (500 characters max)..." rows="10" maxlength="500"></textarea>
        <input id="submitButton" type="submit" value="Submit redaction request">
      </form>
    </div>
  </div>

  <a class="topOfPageLink" href="#top">Top ^</a>
{% endblock %}
