<h3 id="analyses">Analyses</h3>

<ul class="vertical menu" data-accordion-menu>
    {% for analysis in email.analysis_set.all %}
        <li>
            <a href="">{{ analysis.source|title }} - <i>{{ analysis.first_seen|date:"DATE_FORMAT" }}</i></a>

            <ul class="menu vertical">
                {% for note in analysis.notes_strings %}
                    {% autoescape off %}
                        <li class="columns">{{ note }}</li>
                    {% endautoescape %}
                {% endfor %}
                <br>
            </ul>
        </li>
    {% endfor %}
    {% if email.header.subject_nonmalicious_votes %}
        <li>
            <p>
                The subject line of this email has been voted as <b>non-malicious {{ email.header.subject_nonmalicious_votes }} time{{ email.header.subject_nonmalicious_votes|pluralize }}</b>
            </p>
        </li>
    {% endif %}
    {% if email.header.subject_malicious_votes %}
        <li>
            <p>
                The subject line of this email has been voted as <b>malicious {{ email.header.subject_malicious_votes }} time{{ email.header.subject_malicious_votes|pluralize }}</b>
            </p>
        </li>
    {% endif %}
</ul>
