<h3 id="analyses">Analyses</h3>

<ul class="vertical menu" data-accordion-menu>
    {% for analysis in email.analysis_set.all %}
        <li>
            <a href="">{{ analysis.source|title }} - <i>{{ analysis.first_seen|date:"DATE_FORMAT" }}</i></a>

            <ul class="menu vertical">
                {% for note in analysis.notes_strings %}
                    {% autoescape off %}
                        <li class="columns">{{ note }}</li>
                    {% endautoescape %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
