{% if score > 0.333 %}
    {% load static %}
    <img src="{% static "tl_red.svg.png" %}" alt="There is evidence this email is MALICIOUS" title="There is evidence this email is MALICIOUS">
    <div class="clearfix"><br></div>
    <i>There is evidence this email is MALICIOUS</i>
{% elif score > -0.333 %}
    {% load static %}
    <img src="{% static "tl_yellow.svg.png" %}" alt="There is evidence this email is SUSPICIOUS" title="There is evidence this email is SUSPICIOUS">
    <div class="clearfix"><br></div>
    <i>There is evidence this email is SUSPICIOUS</i>
{% else %}
    {% load static %}
    <img src="{% static "tl_green.svg.png" %}" alt="There is evidence this email is BENIGN" title="There is evidence this email is BENIGN">
    <div class="clearfix"><br></div>
    <i>There is evidence this email is BENIGN</i>
{% endif %}

<br><br><br>

<div class="card">
    <div class="card-divider">
        Email Structure
    </div>
    <div class="card-section">
        <a href="#header"><b>Header</b></a><br>
        <a href="#bodies"><b>Body</b></a>
        {% autoescape off %}
        {{ email.structure|linebreaksbr }}
        {% endautoescape %}
    </div>
    <div class="card-divider">
        Actions
    </div>
    <div class="card-section">
        <a href="{% url 'details:reanalyze' email.id %}">Resubmit for analysis</a>
    </div>
</div>
