{% if score > 0.333 %}
    {% load static %}
    <img src="{% static "tl_red.svg.png" %}" alt="There is evidence this email is MALICIOUS" title="There is evidence this email is MALICIOUS">
    <div class="clearfix"><br></div>
    <i>There is evidence this email is MALICIOUS</i>
{% elif score < -0.333 %}
    {% load static %}
    <img src="{% static "tl_green.svg.png" %}" alt="There is evidence this email is BENIGN" title="There is evidence this email is BENIGN">
    <div class="clearfix"><br></div>
    <i>There is evidence this email is BENIGN</i>
{% else %}
    {% load static %}
    <img src="{% static "tl_yellow.svg.png" %}" alt="There is evidence this email is SUSPICIOUS" title="There is evidence this email is SUSPICIOUS">
    <div class="clearfix"><br></div>
    <i>There is evidence this email is SUSPICIOUS</i>
{% endif %}

<br><br><br>

<div class="card">
    <div>
        <div class="card-divider">
            <b>Email Structure</b>
        </div>
        <div class="card-section">
            <a href="#header">Header</a><br>
            <a href="#bodies">Bodies</a>
            {% autoescape off %}
            {{ email.structure|linebreaksbr }}
            {% endautoescape %}
        </div>
    </div>
    <div>
        {% if network_data_count != 0 or email.analysis_set.all %}
          <div class="card-divider">
              <b>Details</b>
          </div>
          <div class="card-section">
              {% if email.analysis_set.all %}
                <p><a href="#analyses">Analyses</a></p>
              {% endif %}
              {% if network_data_count != 0 %}
                <p><a href="#networkData">Network Data</a></p>
              {% endif %}
          </div>
        {% endif %}
    </div>
    <div>
        <div class="card-divider">
            <b>Actions</b>
        </div>
        <div class="card-section">
            <p><a href="{% url 'details:reanalyze' email.id %}">Resubmit for analysis</a></p>
            <p><a href="{% url 'details:feedback' email.id %}" title="Provide feedback about this email or TotalEmail as a whole">Provide feedback</a></p>
            <p><a href="{% url 'details:redaction' email.id %}" title="Request that information be removed from this email (e.g. PII or trade secrets)">Request email redaction</a></p>
        </div>
    </div>
</div>
