<h3 id="networkData">Network Data ({{ network_data_flat_list|length }})</h3>
<p><i>({{ network_data_overlaps }} overlap{{ network_data_overlaps|pluralize }} with other emails)</i></p>

{% if network_data_header_count > 0 %}
    <h4>Network data in headers ({{ network_data_header_count }}):</h4>

    {% include "details/details_view/network_data_views/header-network-data.html" %}
    <br>
{% endif %}

{% if network_data_body_count > 0 %}
    <h4>Network data in bodies ({{ network_data_body_count }}):</h4>

    {% include "details/details_view/network_data_views/bodies-network-data.html" %}
{% endif %}

<button class="button secondary" onclick="copyNetworkData()">Copy Network Data</button>

<!-- The styling on this element hides it from the screen (see the "Position Absolute and Offscreen" section here: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility) -->
<textarea id="networkDataHidden" style="position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0;" cols="30" rows="10">{{ network_data_flat_list|join:',' }}</textarea>

<script>
    function copyNetworkData() {
        var copyText = document.getElementById("networkDataHidden");
        copyText.select();
        var copied = document.execCommand("copy");
        if (copied) {
            $.jGrowl('Network data has been copied.', {group: 'success-growl'});
        } else {
            $.jGrowl('Unable to copy network data, sorry. Try upgrading your browser or using a different browser', {group: 'failure-growl'});
        }
    }
</script>
