.error {
    color: red;
}

.info {
    color: blue;
}

h1 {
    color: #2c2c2c;
    /*font-size: 4em;*/
    letter-spacing: .15em;
/*    text-shadow:
      6px 6px 5px #d5d5d5;*/
    /*font-family: "Courier New";*/
 /*   color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow:
      -1px -1px 1px #111,
      2px 2px 1px #363636;*/
}

.top-bar a {
  text-decoration: underline;
}

.top-bar-left a {
  text-decoration: none;
}


h3 {
/*    color: #2c2c2c;
    font-size: 1.5em;
    font-family: "Courier New";*/
 /*   color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow:
      -1px -1px 1px #111,
      2px 2px 1px #363636;*/
}

/* Styling for growl messages. */
.success-growl {
    background-color: #58b957;
    font-size: 1.5em;
}

.warning-growl {
    background-color: #f2ae43;
    font-size: 1.5em;
    color: black;
}

.failure-growl {
    background-color: #db524b;
    font-size: 1.5em;
}
/* End styling for growl messages. */
